/* src/assets/css/BudgetTracker.css */
.budget-tracker {
  padding: 1rem;
  background-color: #f3f4f6;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.budget-tracker h2 {
  color: #333;
  margin-bottom: 1rem;
}

.budget-tracker table {
  width: 50%;
  border-collapse: collapse;
}

.budget-tracker th,
.budget-tracker td {
  text-align: left;
  padding: 0.5rem ;
  border-bottom: 1px solid #ddd;
}

.budget-tracker th {
  background-color: #eee;
}

.budget-tracker tbody tr:last-child td {
  border-bottom: none;
}

.budget-tracker td {
  color: #030303;
  text-align: center;
}

/* Ajouter des couleurs pour les montants positifs et négatifs */
.budget-tracker td.negative {
  color: #e53e3e;
}

.budget-tracker td.positive {
  color: #38a169;
}

/* Responsive adjustments */

@media (max-width: 768px) {
  .budget-tracker table {
    width: 100%;
  }
}


