.dashboard {
  background-color: #3686c8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  color: #fff;
  text-align: center;
}

.dashboard h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .dashboard {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .dashboard {
    display: block;
  }
}